<body class='body'>
  <p>GTNモバイルアプリからのお知らせです。</p>
  <p>ユーザー様から「<b>プラン変更</b>」の申込がありました。</p>
  <br />

  # ■ ご契約番号
  {{happiness_id}}
  <br />

  # ■ ユーザー情報
  <p>ご契約者名：{{name}}</p>
  <p>生年月日：{{birthday}}</p>
  <p>メールアドレス：{{email}}</p>
  <br />

  # ■ 申込情報
  <p>ご希望のプラン：{{ planName }}</p>
<p>プランの料金：{{ planPrice }}円 (税込)</p>
<p>適用希望日：{{ applicationDate }}</p>
  <br />
</body>